body{
    font-family: Verdana;
    text-align: center;

}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(79, 175, 106);
}

#myLabel{
    font-size: 3em;
}

#myButton:hover{
    background-color: rgb(20, 203, 38);
}